//Reseteo de CSS
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62, 5%;
}

//Con esto personalizo el scrollbar
body::-webkit-scrollbar {
    background-color: #000814;
    width: 0.6em;
}

body::-webkit-scrollbar-thumb {
    background-color: #ffd60a;
    border-radius: 0.2em;
}

